<!--What are the mandatory fields n the form?-->
<!--Action should be more precise than just home page | script on its own-->

<html>
    <head>
        <title>Runners Log</title>
        <link rel = "stylesheet" type = "text/css" rel = "stylesheet" href = "./log.templates/home.css">
    </head>
    <body>
        <h1>Enter a new training</h1>
        <form method = "POST" action = "/">
                distance<input type = "text" name = "distance" placeholder = "Distance">
                executed time<input type = "text" name = "executed_time" placeholder = "Executed Time">
                in zone<input type = "text" name = "in_zone" placeholder = "In Zone">
                average heart rate<input type = "text" name = "average_heart_rate" placeholder = "Average Heart Rate">
                <input type = "submit" id = "submit_button" value = "submit"> <!--id is added for selenium-->
                <!--the id = "submit_button" is funny shit : if we use "submit" then this will override the selenium submit() function-->
            {% csrf_token %}
        </form>
        <table>
            {% for training in training_log %}
            <tr>
                <td>{{ training.distance }}</td>
                <td>{{ training.executed_time }}</td>
                <td>{{ training.in_zone }}</td>
                <td>{{ training.average_heart_rate }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
