<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Runners Log</title>
        <link type = "text/css" rel = "stylesheet" href = "/static/css/home.css">
    </head>
    <body>
        <h1>Runners log - Variable that displays the training target name</h1>
        <form action = "/" method = "POST">
            <h2>Enter a new training</h2>

            <div id = "table_add_data">

                <div id = "table_first_row_add_data">
                    <div class = "label">
                        Date
                    </div>
                    <div class = "input">
                        <input type = "date" name = "date" placeholder = "dd/mm/yy">
                    </div>
                    <div class = "label">
                        Distance
                    </div>
                    <div class = "input">
                        <input type = "text" name = "distance" placeholder = "km">
                    </div>
                    <div class = "label">
                        Average HR
                    </div>
                    <div class = "input">
                        <input type = "text" name = "average_heart_rate" placeholder = "bpm">
                    </div>
                </div>

                
                <div id = "table_second_row_add_data">
                    <div class = "label">
                        Planned type of training
                    </div>
                    <div class = "input">
                        <input type = "text" name = "planned_type_of_training">
                    </div>
                    <div class = "label">
                        Executed time
                    </div>
                    <div class = "input">
                        <input type = "text" name = "executed_time" placeholder = "hh:mm:ss">
										</div>
                    <div class = "label">
                        In zone
                    </div>
                    <div class = "input">
                        <input type = "text" name = "in_zone" placeholder = "hh:mm:ss">
                    </div>
                </div>


                <div id = "table_third_row_add_data">
								  <div class = "label">
										Planned duration
									</div>
									<div class = "input">
											<input type = "text" name = "planned_duration" placeholder = "hh:mm">
									</div>
								</div>
							</div>

						<p>
							Notes<br>
							<textarea name = "notes" rows = 5 cols = 61></textarea>
						</p>
						<p><input type = "submit" id = "submit_button" value = "Save"></p>
						<!--the id = "submit_button" is funny shit : if we use "submit" then this will override the selenium submit() function-->
						{% csrf_token %}
					</form>
				<h2>Training history</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Planned type of training</th>
                <th>Planned duration</th>
                <th>Distance</th>
                <th>Executed time</th>
                <th>Average HR</th>
                <th>In zone</th>
                <th>Average speed</th>
                <th>Calories</th>
                <th>Notes</th>
            </tr>
            {% for training in training_log %}
            <tr>
								<td>{{ training.date_ }}</td>
								<td>{{ training.planned_type_of_training }}</td>
								<td>{{ training.planned_duration }}</td>
                <td>{{ training.distance }}</td>
                <td>{{ training.executed_time }}</td>
                <td>{{ training.average_heart_rate }}</td>
                <td>{{ training.in_zone }}</td>
                <td>10.7 km/h</td>
                <td>1406 kcal</td>
								<td>{{ training.notes }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
